Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  misc-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  -modernize-use-trailing-return-type,
  -misc-non-private-member-variables-in-classes,
  -misc-confusable-identifiers,
  -modernize-use-nodiscard,
  -readability-redundant-inline-specifier,
  -readability-function-cognitive-complexity
  -readability-redundant-member-init

HeaderFilterRegex: '^$'