# Private workspace configurations
.vscode/

# Builds and compiled code
build/
release/
*.exe
*.o
*.obj
*.out
*.asm
*.s
*.ll
__pycache__/
.cache/*

# logs
*.log

# Convention: use files with the format x.* (e.g., x.py, x.something.cpp) for
# temporary files, user files (e.g. helper scripts), etc. 
x.*

# random other stuff, not directly related to the compiler
planning/
misc/
sandbox/
