# Private workspace configurations
.vscode/
# Builds and compiled code
build/
release/
*.exe
*.o
*.obj
*.out
*.asm
*.s
*.ll
__pycache__/
# Convention: use files with the format x.* (e.g., x.py, x.something.cpp) for
# temporary files, user files (e.g. helper scripts), etc. 
x.*
# plans
planning/
# random other stuff, not directly related to the compiler
misc/
sandbox/
