name: Build and Run Test Suite

on:
  [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Install LLVM and CMake
        run: |
          sudo apt-get update
          sudo apt-get install -y llvm cmake
      - name: go
        run: |
          python build.py -t -r exec_args --all